### ATTENTION ###
# This is the GLOBAL gitignore, please do NOT change this file,
# unless it should be available for everyone
# Please change the LOCAL gitignore (.git/info/exclude) to cutomize 
# exluding files/folders from being recognized by git

# Recovery files
*~

# Compiled python
*.pyc

# Common build directory
cmake_build/*
!cmake_build/example_configure.bat.do_not_touch
!cmake_build/example_configure.sh.do_not_touch
packaging/*
packaging_aux/KratosLoader.py
packaging_aux/kratos.conf

# Compile and install directories
KratosMultiphysics/*
libpython*
libs/*
runkratos
runkratos.exe
script.py

# Times files
*.time

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll
*.pyd

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# GiD post files
*.post.res
*.post.msh
*.post.bin
*.post.lst

# VTK post files
*.vtk
*.vtu

# Output of tests of meshing application (MMG)
*.sol
*.mesh
*.o.sol
*.o.mesh

# Backup files
*.bak

# Most used editor files
*.vscode

# Auxiliar file (deprecated?)
applications/python_scripts/beam_profiles\.csv
.vs/ProjectSettings.json
.vs/PythonSettings.json
.vs/slnx.sqlite
.vs/VSWorkspaceState.json
out/build/x64-Debug/.cmake/api/v1/query/client-MicrosoftVS/query.json
out/build/x64-Debug/CMakeCache.txt
out/build/x64-Debug/CMakeFiles/3.15.19080502-MSVC_2/CMakeCCompiler.cmake
out/build/x64-Debug/CMakeFiles/3.15.19080502-MSVC_2/CMakeCXXCompiler.cmake
out/build/x64-Debug/CMakeFiles/3.15.19080502-MSVC_2/CMakeDetermineCompilerABI_C.bin
out/build/x64-Debug/CMakeFiles/3.15.19080502-MSVC_2/CMakeDetermineCompilerABI_CXX.bin
out/build/x64-Debug/CMakeFiles/3.15.19080502-MSVC_2/CMakeRCCompiler.cmake
out/build/x64-Debug/CMakeFiles/3.15.19080502-MSVC_2/CMakeSystem.cmake
out/build/x64-Debug/CMakeFiles/3.15.19080502-MSVC_2/CompilerIdC/CMakeCCompilerId.c
out/build/x64-Debug/CMakeFiles/3.15.19080502-MSVC_2/CompilerIdC/CMakeCCompilerId.exe
out/build/x64-Debug/CMakeFiles/3.15.19080502-MSVC_2/CompilerIdCXX/CMakeCXXCompilerId.cpp
out/build/x64-Debug/CMakeFiles/3.15.19080502-MSVC_2/CompilerIdCXX/CMakeCXXCompilerId.exe
out/build/x64-Debug/CMakeFiles/CheckTypeSize/OFF64_T.c
out/build/x64-Debug/CMakeFiles/cmake.check_cache
out/build/x64-Debug/CMakeFiles/CMakeError.log
out/build/x64-Debug/CMakeFiles/CMakeOutput.log
out/build/x64-Debug/CMakeFiles/FindOpenMP/ompver_C.bin
out/build/x64-Debug/CMakeFiles/FindOpenMP/ompver_CXX.bin
out/build/x64-Debug/CMakeFiles/FindOpenMP/OpenMPCheckVersion.c
out/build/x64-Debug/CMakeFiles/FindOpenMP/OpenMPCheckVersion.cpp
out/build/x64-Debug/CMakeFiles/FindOpenMP/OpenMPTryFlag.c
out/build/x64-Debug/CMakeFiles/FindOpenMP/OpenMPTryFlag.cpp
out/build/x64-Debug/CMakeFiles/ShowIncludes/foo.h
out/build/x64-Debug/CMakeFiles/ShowIncludes/main.c
out/build/x64-Debug/external_libraries/zlib/zconf.h
out/build/x64-Debug/external_libraries/zlib/zlib.pc
out/build/x64-Debug/VSInheritEnvironments.txt
